<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta comment_colors">
      {{user.username}} on {{format_date date_created}}
    </div>
    <div class="text">
      {{text}}
    </div>
  </section>
  {{/each}}
</div>