<!-- Render the sub layout -->
<div class="field columns p-2 is-centered ">
     <h2 class="block subtitle">Create New Post</h2>
  <form class="is-half mx-6  my-3 p-3 has-background-light column is-centered create-blog-form">

    <div class="field">
      <label class="label" for="review-title">Title</label>
      <input class="input" type="text" id="blog-name" />
    </div>
    <div class="field">
      <label class="label" for="review-body">Content</label>
      <textarea id="blog-text" class="textarea" placeholder="Enter your review here"></textarea>
    </div>
    <div class="field has-text-centered">
      <button id="blog-post" class="button is-primary my-3" type="submit">Create</button>
    </div>
  </form>
</div>


<script src="./js/newpost.js"></script>