
<div class="columns is-centered m-3">
  <div class="column m-3 is-one-quarter">


    <div class="box block is-half is-mobile is-centered is-vcentered">
      <h2 class="block subtitle">Sign Up</h2>
      <form class="form signup-form">
        <div class="field">
          <label class="label" for="name-signup">UserName:</label>
          <input class="input" type="text" id="name-signup" />
        </div>
        <div class="field">
          <label class="label" for="email-signup">Email:</label>
          <input class="input" type="text" id="email-signup" />
        </div>
        <div class="field">
          <label class="label" for="password-signup">Password:</label>
          <input class="input" type="password" id="password-signup" />
        </div>
        <div class="field">
          <button class="button is-primary" type="submit">Signup</button>
        </div>
        <div class="field">
          <h3><a class="has-text-weight-medium" id="signup" href="/login">Login instead</a></h3>
        </div>
      </form>
    </div>


</div>
</div>

<script src="./js/signup.js"></script>